

<%= form_with(model: @recipe, url: create_from_form_recipes_path, local: true) do |form| %>
  <% if @recipe.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <h3>Ingredients</h3>
  <div id="ingredients">
    <!-- Dynamically added ingredients will appear here -->
  </div>

  <%= link_to 'Add Ingredient', '#', id: 'add-ingredient', class: 'btn btn-success' %>

  <div class="form-group">
    <%= form.submit 'Create Recipe', class: 'btn btn-primary' %>
  </div>
<% end %>

