<%= content_for :javascript do %>
  <script type="module">
    import "add_ingredients";
  </script>
<% end %>

<%= form_with(model: @recipe, local: true) do |form| %>
  <% if @recipe.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <h3>Ingredients</h3>
  <div id="ingredients">
    <%= form.fields_for :recipe_ingredients do |recipe_ingredient_form| %>
      <div class="ingredient-fields">
        <%= recipe_ingredient_form.label :ingredient_id, "Select Ingredient" %>
        <%= recipe_ingredient_form.collection_select :ingredient_id, @ingredients, :id, :name, { prompt: 'Select an Ingredient' }, class: 'form-control' %>

        <%= recipe_ingredient_form.label :quantity, "Quantity" %>
        <%= recipe_ingredient_form.number_field :quantity, class: 'form-control' %>
        <%= recipe_ingredient_form.label :unit, "Unit" %>
        <%= recipe_ingredient_form.select :unit, ['unitless', 'grams', 'kilograms', 'cups', 'tablespoons', 'teaspoons', 'liters', 'milliliters'], { include_blank: "Select Unit" }, class: 'form-control' %>

      </div>
    <% end %>
  </div>

  <%= link_to 'Add Ingredient', '#', id: 'add-ingredient', class: 'btn btn-success' %>

  <div class="form-group">
    <%= form.submit 'Create Recipe', class: 'btn btn-primary' %>
  </div>
<% end %>
