

<h1><%= @ingredient.name %></h1>
<p><strong>Unit of Measurement:</strong> <%= @ingredient.unit_of_measurement %></p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient), class: 'btn btn-warning' %>
<%= link_to 'Back to Ingredients', ingredients_path, class: 'btn btn-secondary' %>
<%= button_to'Delete', @ingredient, method: :delete, data: { confirm: 'Are you sure you want to delete this ingredient?' }, class: 'btn btn-danger' %>
