<div class="text-center">
  <h1>Welcome to Recipeasy</h1>
  <p>Your ultimate recipe organizer and meal planner!</p>
  <a href="/recipes" class="btn btn-primary">My Recipes</a>
  
  <% if user_signed_in? %>
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-secondary" %>


  <% else %>
     <%= link_to "Sign In", new_user_session_path, class: "btn btn-secondary" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
  <% end %>
  #<% if current_user.shopping_list.nil? %>
  #<%= link_to 'Create Shopping List', shopping_list_path(current_user.shopping_list), class: 'btn btn-primary' %>
#<% else %>
  #<%= link_to 'View Your Shopping List', shopping_list_path(current_user.shopping_list), class: 'btn btn-secondary' %>
#<% end %>


</div>
