<h1>Edit Your Shopping List</h1>

<%= form_with(model: @shopping_list, local: true) do |form| %>
  <% if @shopping_list.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @shopping_list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.submit "Update Shopping List", class: "btn btn-primary" %>
  </div>
<% end %>

<!-- Ingredient Adding Form -->
<%= form_with(model: [ @shopping_list, @shopping_list_ingredient ], local: true) do |form| %>
  <div class="form-group">
    <%= form.text_field :name, placeholder: "Ingredient name", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.text_field :quantity, placeholder: "Quantity", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.text_field :unit, placeholder: "Unit (e.g., grams)", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.submit "Add Ingredient", class: "btn btn-secondary" %>
  </div>
<% end %>

<%= link_to 'Back to Shopping List', shopping_list_path(@shopping_list), class: 'btn btn-secondary' %>
