

<!-- Display Current Ingredients -->
<%= link_to 'Home', root_path, class: 'btn btn-primary' %>
<% if @shopping_list.ingredients.any? %>
  <ul class="list-group">
    <% @shopping_list.shopping_list_ingredients.each do |shopping_list_ingredient| %>
      <% if shopping_list_ingredient.ingredient.present? %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span>
            <strong><%= shopping_list_ingredient.ingredient.name %></strong>
            - <%= shopping_list_ingredient.quantity %>
          </span>
          <%= button_to 'Remove', shopping_list_shopping_list_ingredient_path(@shopping_list, shopping_list_ingredient),
                method: :delete,
                data: { confirm: "Are you sure you want to remove this ingredient?" },
                class: "btn btn-danger btn-sm" %>
        </li>
      <% else %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span>Missing Ingredient</span>
          <%= button_to 'Remove', shopping_list_shopping_list_ingredient_path(@shopping_list, shopping_list_ingredient),
                method: :delete,
                data: { confirm: "Are you sure you want to remove this invalid entry?" },
                class: "btn btn-warning btn-sm" %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No ingredients in your shopping list. Add some ingredients!</p>
<% end %>

<%= link_to 'Back to Shopping List', shopping_list_path(@shopping_list), class: 'btn btn-secondary mt-3' %>
<div class="shopping-list-actions mb-3">
    <%= link_to 'Add Ingredients to Shopping List', ingredients_path, class: 'btn btn-primary' %>
  </div>
